@page "/AllTickets"
@using SB.BlazorServer.Data.Ticket
@using SB.BlazorServer.Data.Models
@inject TicketService Service
@inject NavigationManager NavigationManager

<PageTitle>SupportBuddy - All Tickets</PageTitle>

<h1>All Tickets</h1>

<p>Overview of all support tickets</p>

@if (tickets == null)
{
    <ShowLoadingComponent />
}
else
{
    @if (tickets.Length > 0)
    {
        <table class="table table-striped">
                <thead class="table-dark">
                <tr>
                    <th>ID</th>
                    <th>Status</th>
                    <th>Answers</th>
                    <th>Subject</th>
                    <th class="d-none d-md-table-cell">Submitted by</th>
                    <th class="d-none d-md-table-cell">Time of creation</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var ticket in tickets)
                {
                    <tr class="sb-table-link" @onclick="@(() => NavigateToTicket(ticket.Id))">
                        <td>@ticket.Id</td>
                        <td>@ticket.Status</td>
                        <td>@ticket.Answers.Count</td>
                        <td>@ticket.Subject</td>
                        <td class="d-none d-md-table-cell">@ticket.LastName, @ticket.FirstName</td>
                        <td class="d-none d-md-table-cell">@ticket.TimeStamp</td>
                    </tr>
                }
                </tbody>
            </table>
    }
    else
    {
        <p>
            <em>No tickets found...</em>
        </p>
    }
}

@code {
    private Ticket[]? tickets;

    protected override async Task OnInitializedAsync()
    {
        await LoadItems();
    }

    private async Task LoadItems()
    {
        tickets = await Service.GetTicketsAsync();
    }

    private void NavigateToTicket(int id)
    {
        NavigationManager.NavigateTo("/ViewTicket/" + id);
    }
}