@inject NavigationManager NavigationManager
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inject ProtectedLocalStorage BrowserStorage
@inject ProtectedSessionStorage SessionStorage

<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)"/>
        <FocusOnNavigate RouteData="@routeData" Selector="h1"/>
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>

@code {

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        var resultLocalStorage = await BrowserStorage.GetAsync<string>("authstring");
        var resultSessionStorage = await SessionStorage.GetAsync<string>("authstring");

        var loginString = resultLocalStorage.Success ? resultLocalStorage.Value : "";
        loginString = loginString.Length <= 0 ? (resultSessionStorage.Success ? resultSessionStorage.Value : "") : loginString;
        
        if (loginString == null || loginString.Length <= 0)
        {
            NavigationManager.NavigateTo("/login");
        }
    }

}